Karai Csaba <Csaba.Karai@nokia.com> ckarai <cvsadmin@www.osgi.org>
Peter Kriens <peter.kriens@aqute.biz> <peter.kriens@aqute.biz>
Peter Kriens <peter.kriens@aqute.biz> <peter.kriens@aqute.se>
Steffen Druesedow <steffen.druesedow@telekom.de>
David Savage <david.savage@paremus.com>
Evgeni Grigorov <e.grigorov@prosyst.com>
Ikuo Yamasaki <yamasaki.ikuo@lab.ntt.co.jp>
Tim Diekmann <tdiekman@tibco.com>
Tim Ward <timothy.ward@uk.ibm.com>
Tim Ward <tim.ward@paremus.com>
Thomas Watson <tjwatson@us.ibm.com>
Teodor Todorov <t_todorov@prosyst.bg>
I Karabashev <i_karabashev@prosyst.bg> i_karabashev <cvsadmin@www.osgi.org>
Petia Sotirova <p.sotirova@prosyst.bg> p_sotirova <cvsadmin@www.osgi.org>
Diana Dikova <d_dikova@prosyst.bg> d_dikova <cvsadmin@www.osgi.org>
T Dimitrov <t_dimitrov@prosyst.bg> t_dimitrov <cvsadmin@www.osgi.org>
Gustavo De Paula-CESAR-MOTOROLA <wgp010@motorola.com> gdepaula <cvsadmin@www.osgi.org>
hmarques-CESAR-IBM <cvsadmin@www.osgi.org> hmarques <cvsadmin@www.osgi.org>
jmascena-CESAR-IBM <cvsadmin@www.osgi.org> jmascena <cvsadmin@www.osgi.org>
smurakami-IBM <cvsadmin@www.osgi.org> smurakami <cvsadmin@www.osgi.org>
Devendra Tewari-CESAR-IBM <dkt@cesar.org.br>
Luis Tenorio-CESAR-IBM <ltenorio@cesar.org.br>
Raymond Augé <raymond.auge@liferay.com>
Samuel Bratton <sbratton@us.ibm.com>
Antonin Chazalet <antonin.chazalet@orange.com>
Anjum Fatima <anjum.fatima@ibm.com>
Christophe Munilla <christophe.munilla@cea.fr>
D Mladenova <d.mladenova@prosyst.bg>
Gregory Bonnardel <gbonnardel.ext@orange.com>
Jeanpierre Poutcheu <jeanpierre.poutcheu@orange.com>
Bob Stayton <bobs@sagehill.net> Bob Stayton <hargrave@us.ibm.com>
