<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.jar"
            id="osgi.eclipse.contribution1">
         <menu
               label="Test Bundle Submenu"
               path="additions"
               id="osgi.eclipse.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               enablesFor="*"
               label="Run Test"
               icon="org/osgi/test/eclipse/icons/test_bundle.gif"
               class="org.osgi.test.eclipse.TestBundle"
               menubarPath="additions"
               id="org.osgi.test.eclipse.testBundle">
         </action>
         <action
               enablesFor="*"
               label="Download to target"
               icon="org/osgi/test/eclipse/icons/download_bundle.gif"
               class="org.osgi.test.eclipse.TestBundle"
               menubarPath="additions"
               id="org.osgi.test.eclipse.sendBundle">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="OSGi"
            id="OSGi">
      </category>
      <view
            name="Test View"
            icon="org/osgi/test/eclipse/test_bundle.gif"
            category="OSGi"
            class="org.osgi.test.eclipse.TestView"
            id="org.osgi.test.eclipse.TestView">
      </view>
   </extension>

</plugin>
