#---------------------------------------------------------------------
# Macros
#---------------------------------------------------------------------
#
# Example:
#
# Defining a macro:
#   macro.macro_name = some value
#
# Using it:
#   property_name = %macro_name%
#
# The macros defined here can be called within this config file
# (including values of other macros) as well as within other static
# config files used by DocFlex.
#
# Note: the macro names are treated regarding to their case.
#
# There are following predefined macros:
#
# THIS_DIR - the absolute path name of the directory containing
#            the given config file (i.e. where this macro is used)
#
# DFH      - the absolute path name of the DocFlex home directory.
#            By default it is the directory of this config file.
#            It can be overridden below with any other pathname that
#            should be defined either absolutely or relatively to 
#            the directory of this config file. (The relative pathname
#            will be converted automatically to the absolute one.
#            So, this macro always returns the absolute pathname.)
#
# Note: macro name 'URL' is reserved for the openURL command (see below).
#---------------------------------------------------------------------

macro.DFH = ..

#---------------------------------------------------------------------
# Default Directories
#---------------------------------------------------------------------
# should be specified either as absolute pathnames
# or relatively to the directory of this config file
# (empty values specify just this directory)
#---------------------------------------------------------------------

config.directory = %DFH%/config
template.directory = %DFH%/templates
output.directory = %DFH%/out

#---------------------------------------------------------------------
# Config Files
#---------------------------------------------------------------------
# should be specified either as absolute pathnames
# or relatively to the config directory
#---------------------------------------------------------------------

config.file.designer = designer.config
config.file.generator = generator.config

#---------------------------------------------------------------------
# DocFlex License File
#---------------------------------------------------------------------
# Here, you can specify a different pathname of the license file.
# By default, the license file is searched in the locations:
# (1) near 'docflex-xxx.jar' file
# (2) in the DocFlex config directory
#---------------------------------------------------------------------

#license.file = docflex.license

#---------------------------------------------------------------------
# The external application to open a URL
#---------------------------------------------------------------------
# This is invoked to launch a viewer for the generated documentation
# (as well as to handle any other URL open requests)
#
# The URL is passed via %URL% macro.
#
# If you need certain types of documents or URLs to be open with 
# different applications, use the following extended setting 
# for each particular document/URL type:
#
#   openURL.<n>.mimeType = [text/plain | text/html | application/rtf]
#   openURL.<n>.protocol = <url protocol>
#   openURL.<n>.command  = <system command>
#   openURL.<n>.command.params = <command parameter string>
#
# The following settings specify opening each RTF document with 
# OpenOffice.org Writer, each e-mail with Evolution emailer and 
# any other URL with Firefox web browser:
#---------------------------------------------------------------------

openURL.1.mimeType = application/rtf
openURL.1.command  = oowriter
openURL.1.command.params = %URL%

openURL.2.protocol = mailto
openURL.2.command  = evolution
openURL.2.command.params = %URL%

openURL.3.command = firefox
openURL.3.command.params = %URL%
