<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>TestWar2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>Email</param-name>
		<param-value>eeg@osgi.org</param-value>
	</context-param>

	<filter>
		<description></description>
		<display-name>TestFilter</display-name>
		<filter-name>TestFilter</filter-name>
		<filter-class>org.osgi.test.cases.webcontainer.optional.tw2.TestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TestFilter</filter-name>
		<url-pattern>/PostConstructPreDestroyServlet1</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>
			org.osgi.test.cases.webcontainer.optional.tw2.TestServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.osgi.test.cases.webcontainer.optional.tw2.TestServletContextAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.osgi.test.cases.webcontainer.optional.tw2.TestServletRequestListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.osgi.test.cases.webcontainer.optional.tw2.TestServletRequestAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.osgi.test.cases.webcontainer.optional.tw2.TestHttpSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.osgi.test.cases.webcontainer.optional.tw2.TestHttpSessionAttributeListener</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>PostConstructPreDestroyServlet1</display-name>
		<servlet-name>PostConstructPreDestroyServlet1</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.PostConstructPreDestroyServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostConstructPreDestroyServlet1</servlet-name>
		<url-pattern>/PostConstructPreDestroyServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PostConstructPreDestroyServlet2</display-name>
		<servlet-name>PostConstructPreDestroyServlet2</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.PostConstructPreDestroyServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostConstructPreDestroyServlet2</servlet-name>
		<url-pattern>/PostConstructPreDestroyServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PostConstructPreDestroyServlet3</display-name>
		<servlet-name>PostConstructPreDestroyServlet3</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.PostConstructPreDestroyServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostConstructPreDestroyServlet3</servlet-name>
		<url-pattern>/PostConstructPreDestroyServlet3</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ResourceServlet1</display-name>
		<servlet-name>ResourceServlet1</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.ResourceServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet1</servlet-name>
		<url-pattern>/ResourceServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ResourceServlet2</display-name>
		<servlet-name>ResourceServlet2</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.ResourceServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet2</servlet-name>
		<url-pattern>/ResourceServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ResourceServlet3</display-name>
		<servlet-name>ResourceServlet3</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.ResourceServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet3</servlet-name>
		<url-pattern>/ResourceServlet3</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ResourceServlet4</display-name>
		<servlet-name>ResourceServlet4</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.ResourceServlet4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet4</servlet-name>
		<url-pattern>/ResourceServlet4</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PostConstructErrorServlet1</display-name>
		<servlet-name>PostConstructErrorServlet1</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.PostConstructErrorServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostConstructErrorServlet1</servlet-name>
		<url-pattern>/PostConstructErrorServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PostConstructErrorServlet2</display-name>
		<servlet-name>PostConstructErrorServlet2</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.PostConstructErrorServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostConstructErrorServlet2</servlet-name>
		<url-pattern>/PostConstructErrorServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PostConstructErrorServlet3</display-name>
		<servlet-name>PostConstructErrorServlet3</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.PostConstructErrorServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostConstructErrorServlet3</servlet-name>
		<url-pattern>/PostConstructErrorServlet3</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PreDestroyErrorServlet1</display-name>
		<servlet-name>PreDestroyErrorServlet1</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.PreDestroyErrorServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreDestroyErrorServlet1</servlet-name>
		<url-pattern>/PreDestroyErrorServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PreDestroyErrorServlet2</display-name>
		<servlet-name>PreDestroyErrorServlet2</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.PreDestroyErrorServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreDestroyErrorServlet2</servlet-name>
		<url-pattern>/PreDestroyErrorServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PreDestroyErrorServlet3</display-name>
		<servlet-name>PreDestroyErrorServlet3</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.PreDestroyErrorServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreDestroyErrorServlet3</servlet-name>
		<url-pattern>/PreDestroyErrorServlet3</url-pattern>
	</servlet-mapping>
	<env-entry>
		<env-entry-name>someString1</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>Welcome String</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>someString2</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>from env-entry!</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>someInteger1</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>5</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>someInteger2</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>5</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>someInteger3</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>10</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>someBoolean1</env-entry-name>
		<env-entry-type>java.lang.Boolean</env-entry-type>
		<env-entry-value>true</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>someBoolean2</env-entry-name>
		<env-entry-type>java.lang.Boolean</env-entry-type>
		<env-entry-value>false</env-entry-value>
	</env-entry>
	<servlet>
		<description></description>
		<display-name>ServletContextListenerServlet</display-name>
		<servlet-name>ServletContextListenerServlet</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.ServletContextListenerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextListenerServlet</servlet-name>
		<url-pattern>/ServletContextListenerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SecurityTestServlet</display-name>
		<servlet-name>SecurityTestServlet</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.SecurityTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityTestServlet</servlet-name>
		<url-pattern>/SecurityTestServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RequestListenerServlet</display-name>
		<servlet-name>RequestListenerServlet</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.RequestListenerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestListenerServlet</servlet-name>
		<url-pattern>/RequestListenerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HTTPSessionListenerServlet</display-name>
		<servlet-name>HTTPSessionListenerServlet</servlet-name>
		<servlet-class>
			org.osgi.test.cases.webcontainer.optional.tw2.servlet.HTTPSessionListenerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HTTPSessionListenerServlet</servlet-name>
		<url-pattern>/HTTPSessionListenerServlet</url-pattern>
	</servlet-mapping>
	<!-- Define a Security Constraint on this Application -->
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>Listener Servlet</web-resource-name>
			<url-pattern>/SecurityTestServlet</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint> -->

	<!-- Define the Login Configuration for this Application -->
	<!-- <login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>TestWar2 Application</realm-name>
	</login-config> -->

</web-app>