#Wed Aug 25 13:50:44 EDT 2010
javadoc.launchViewer=false
javadoc.outputFormat=RTF
javadoc.template=res\:templates/PlainDoc.tpl
option.rtf.misc.tuneForMSWord=false
param.docTitle.value=OSGi Javadoc
param.fmt.page.breakBefore.class.value=true
param.fmt.page.breakBefore.package.value=true
param.include.details.initialValues.value=true
param.include.tag.custom.value.1=Immutable\:t\:Immutable
param.include.tag.custom.value.2=ThreadSafe\:t\:ThreadSafe
param.include.tag.custom.value.3=NotThreadSafe\:t\:NotThreadSafe
param.include.tag.version.value=true
param.windowTitle.value=OSGi Javadoc
